nobonus: no
game_speed: 0
start_lives: 3
password: ""
key_right: 275
key_left: 276
key_down: 274
key_up: 273
key_fire: 32
waves_type: 1
editor_towerstarthei: -5
editor_pagesize: -1
status_top: yes
use_full_scroller: yes
use_alpha_darkening: yes
use_alpha_layers: yes
use_alpha_font: yes
use_alpha_sprites: yes
editor_towername: ""
nosound: no
fullscreen: yes
