Source: lernstick-usertemplate
Section: misc
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper (>= 9), config-package-dev
Standards-Version: 3.7.3
Homepage: http://www.lernstick.ch

Package: lernstick-usertemplate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dconf-cli
Description: A template for the lernstick user
 A set of (mostly configuration) files under /etc/skel that are used when
 creating the lernstick user for the first time and some other files in /usr
 that are needed by this template.
