polkit.addRule(function(action, subject) {
    if (action.id == "ch.fhnw.jbackpack" &&
        subject.user == "user")
    {
        return polkit.Result.YES;
    }
});
